extends layout

block content
  main.container
    .bg-light.p-5.rounded.mt-3
      h1 Cost Monitor ZaWash
      form(action='/' method='POST')
        hr
        label#icon(for='arrivalTime')
          i.fa.fa-clock-o
        input#arrivalTime(type='text' onclick="(this.type='time')" name='checkin time' placeholder='Arrival Time' required='')
        label#icon(for='date')
          i.fa.fa-calendar-check-o
        input#date(type='text' onclick="(this.type='date')" name='date' placeholder='Date')
        label#icon(for='washerID')
          i.fa.fa-user
        input#washerID(type='text' name='employee' placeholder='Emplooyee ID' required='')
        label#icon(for='cost')
          i.fa.fa-car
        input#cost(type='number' name='polish' placeholder='Polish' required='')
        label#icon(for='cost')
          i.fa.fa-car
        input#cost(type='number' name='detergent' placeholder='Powdered Detergent ' required='')
        label#icon(for='cost')
          i.fa.fa-car
        input#cost(type='number' name='electricityUnit' placeholder='Electricity Unit' required='')
        label#icon(for='washpay')
          i.fa.fa-car
        select#washpay(type='currency' name='washerPay' placeholder='Daily Pay')
          option(value='car-wash-package' selected='') Employee Pay
          option(value='Boda-Boda') UGX 1500shs
          option(value='Small-Cars') UGX 3000shs
          option(value='Medium-Car') UGX 4000shs
        hr
        .btn-block
          button(type='submit' href='/') Submit
